#
# Exclude everything
#

/*

#
# Include top level files
#

!/.gitignore
!/build-working-dir.xml
!/working.dir.properties

#
# Include modules/dxp/apps/ai-hub
#

!/modules
/modules/*
!/modules/dxp
/modules/dxp/*
!/modules/dxp/apps
/modules/dxp/apps/*
!/modules/dxp/apps/ai-hub

#
# Include workspaces/liferay-aihub-workspace
#

!/workspaces
/workspaces/*
!/workspaces/liferay-aihub-workspace