#
# Exclude everything
#

/*
*.iml

#
# Include top level files
#

!/.gitignore
!/build-working-dir.xml
!/working.dir.properties

#
# Include modules/dxp/apps/ai-hub-pricing
#

!/modules
/modules/*
!/modules/dxp
/modules/dxp/*
!/modules/dxp/apps
/modules/dxp/apps/*
!/modules/dxp/apps/ai-hub-pricing
/modules/dxp/apps/ai-hub-pricing/*/build