#
# Exclude everything
#

/*
*.iml

#
# Include top level files
#

!/.gitignore
!/build-working-dir.xml
!/working.dir.properties

#
# Include workspaces/liferay-aihub-workspace
#

!/workspaces
/workspaces/*
!/workspaces/liferay-aihub-workspace
/workspaces/liferay-aihub-workspace/.gradle